// colors
$dark-red: rgba(255, 0, 0, 0.582);
$dark-blue: rgba(27, 27, 206, 0.767);
$dark-green: rgba(67, 148, 67, 0.829);
$dark-orange: rgba(247, 172, 5, 0.95);
$dark-grey: rgba(107, 101, 101, 0.8);
$navy-blue: #324960f5;
$white: #ffffff;

$bg-color: #fff;
$dot-color: #dc364d;
$dot-size: 1px;
$dot-space: 30px;

// effects
$default-shadow: 0px 6px 12px rgba(24, 41, 67, 0.2);

// mixins
@mixin default-button($color) {
    border: none;
    border-radius: 0px 8px;
    background: $color;
    box-shadow: $default-shadow;
    padding: 0.8rem 1.5rem;
    color: $white;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

    &:active {
        background-color: darken($color, 10%);
    }
}